<style>
  @font-face {
    font-family: 'Eaves';
    src: url('https://especiales.latercera.com/8m-files/MrsEavesXLSerifOT-Bold.woff2')
        format('woff2'),
      url('https://especiales.latercera.com/8m-files/MrsEavesXLSerifOT-Bold.woff')
        format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Eaves';
    src: url('https://especiales.latercera.com/8m-files/MrsEavesXLSerifOT-RegItalic.woff2')
        format('woff2'),
      url('https://especiales.latercera.com/8m-files/MrsEavesXLSerifOT-RegItalic.woff')
        format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Eaves';
    src: url('https://especiales.latercera.com/8m-files/MrsEavesXLSerifOT-Reg.woff2')
        format('woff2'),
      url('https://especiales.latercera.com/8m-files/MrsEavesXLSerifOT-Reg.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
