<style>
  .bann-8m a {
    display: block;
  }
  .bann-8m a img {
    display: block;
    max-width: 100%;
  }
  .bann-8m .mobile {
    display: none;
  }

  @media (max-width: 800px) {
    .bann-8m .desktop {
      display: none;
    }
    .bann-8m .mobile {
      display: block;
    }
  }
</style>
<div class="bann-8m">
  <a
    href="https://www.latercera.com/8m-en-8-arquetipos-de-mujeres/?utm_source=widgethomelt&utm_medium=web&utm_campaign=paula8m"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img
      class="desktop"
      src="https://www.latercera.com/resizer/IZ3d7EX3pASnX_kSTpW2SDc2t-E=/arc-anglerfish-arc2-prod-copesa/public/MTEGU34GF5AE3LJ3ATZKGMZJFI.jpg"
    />
    <img
      class="mobile"
      src="https://www.latercera.com/resizer/hBtEOOla3gDVZ8EPi-7Tl7mhr4Q=/arc-anglerfish-arc2-prod-copesa/public/OOL24BAMYZC3VKJ54QKE6G6XZA.jpg"
    />
  </a>
</div>
