<style>
  @font-face {
    font-family: 'Acta Display';
    src: url('https://especiales.latercera.com/11sept-assets/ActaDisplay-ExtraBold.woff2')
        format('woff2'),
      url('https://especiales.latercera.com/11sept-assets/ActaDisplay-ExtraBold.woff')
        format('woff');
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'Acta Book';
    src: url('https://especiales.latercera.com/11sept-assets/Acta-Book.woff2')
        format('woff2'),
      url('https://especiales.latercera.com/11sept-assets/Acta-Book.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Acta Book';
    src: url('https://especiales.latercera.com/11sept-assets/Acta-Bold.woff2')
        format('woff2'),
      url('https://especiales.latercera.com/11sept-assets/Acta-Bold.woff')
        format('woff');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Acta Sans';
    src: url('https://especiales.latercera.com/11sept-assets/ActaAgate-Book.woff2')
        format('woff2'),
      url('https://especiales.latercera.com/11sept-assets/ActaAgate-Book.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Acta Sans';
    src: url('https://especiales.latercera.com/11sept-assets/ActaAgate-Bold.woff')
        format('woff2'),
      url('https://especiales.latercera.com/11sept-assets/ActaAgate-Bold.woff')
        format('woff');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Acta Headline';
    src: url('https://especiales.latercera.com/11sept-assets/ActaHeadline-Book.woff2')
        format('woff2'),
      url('https://especiales.latercera.com/11sept-assets/ActaHeadline-Book.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Acta Headline';
    src: url('https://especiales.latercera.com/11sept-assets/ActaHeadline-BookItalic.woff2')
        format('woff2'),
      url('https://especiales.latercera.com/11sept-assets/ActaHeadline-BookItalic.woff')
        format('woff');
    font-weight: normal;
    font-style: italic;
  }

  .cover-grid {
    margin: 0 0;
    padding: 0 0;
    max-width: none;
    overflow-y: none;
  }
  .elecciones-2021 {
    padding: 20px 0;

    font-family: 'franklin-gothic-urw', helvetica, arial, verdana, sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Acta Book', serif;
  }

  h1,
  h2,
  h3 {
    font-weight: normal;
  }

  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  body .noether-mod {
    display: block;
  }

  body h1 a:hover,
  body h2 a:hover,
  body h3 a:hover,
  body h4 a:hover,
  body h5 a:hover,
  body h6 a:hover {
    color: rgb(35, 53, 107);
    transition: color 0.1s ease;
  }
  .custom-wrap {
    max-width: 1300px;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
</style>
