<!DOCTYPE html>
<html>
  <head>
    <title>3D</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://especiales.latercera.com/publicidad/cubo-new/nanocubo.css"
      media="all"
    />
  </head>
  <body>
    <div class="cube-wrap formatcube">
      <div id="cube" class="cube">
        <div class="cube-face1">
          <a
            href="%%CLICK_URL_UNESC%%https://ad.doubleclick.net/ddm/trackclk/N1500117.279374LACUARTA/B29312030.358341575;dc_trk_aid=549469538;dc_trk_cid=186078959;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;ltd="
            target="_blank"
          >
            <img class="step1-img1" src="%%FILE:JPG1%%" alt="" />
          </a>
          <img
            src="https://ad.doubleclick.net/ddm/trackimp/N1500117.279374LACUARTA/B29312030.358341575;dc_trk_aid=549469538;dc_trk_cid=186078959;ord=%%CACHEBUSTER%%;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;ltd=?"
          />
        </div>
        <div class="cube-face2">
          <a
            href="%%CLICK_URL_UNESC%%https://ad.doubleclick.net/ddm/trackclk/N1500117.279374LACUARTA/B29312030.358341581;dc_trk_aid=549485730;dc_trk_cid=186078959;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;ltd="
            target="_blank"
          >
            <img class="step2-img1" src="%%FILE:JPG2%%" alt="" />
          </a>
          <img
            src="https://ad.doubleclick.net/ddm/trackimp/N1500117.279374LACUARTA/B29312030.358341581;dc_trk_aid=549485730;dc_trk_cid=186078959;ord=%%CACHEBUSTER%%;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;ltd=?"
          />
        </div>
        <div class="cube-face3">
          <a
            href="%%CLICK_URL_UNESC%%https://ad.doubleclick.net/ddm/trackclk/N1500117.279374LACUARTA/B29312030.358341575;dc_trk_aid=549469538;dc_trk_cid=186078959;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;ltd="
            target="_blank"
          >
            <img class="step3-img1" src="%%FILE:JPG1%%" alt="" />
          </a>
          <img
            src="https://ad.doubleclick.net/ddm/trackimp/N1500117.279374LACUARTA/B29312030.358341575;dc_trk_aid=549469538;dc_trk_cid=186078959;ord=%%CACHEBUSTER%%;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;ltd=?"
          />
        </div>
        <div class="cube-face4">
          <a
            href="%%CLICK_URL_UNESC%%https://ad.doubleclick.net/ddm/trackclk/N1500117.279374LACUARTA/B29312030.358680153;dc_trk_aid=549616351;dc_trk_cid=186078959;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;ltd="
            target="_blank"
          >
            <img class="step4-img1" src="%%FILE:JPG4%%" alt="" />
          </a>
          <img
            src="https://ad.doubleclick.net/ddm/trackimp/N1500117.279374LACUARTA/B29148132.355971981;dc_trk_aid=546742799;dc_trk_cid=184724580;ord=%%CACHEBUSTER%%;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;ltd=?"
          />
        </div>
      </div>
    </div>

    <script src="https://especiales.latercera.com/publicidad/cubo-new/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        var step = 2
        $('.cube').addClass('step1')
        $('.step1-img1').css('display', 'block')
        setInterval(function () {
          if (step == 5) {
            step = 1
            $('.cube').removeClass('step4')
          }
          $('.cube')
            .addClass('step' + step)
            .removeClass('step' + (step - 1))
          step++
        }, 4000)
      })
    </script>
  </body>
</html>
