<style>
  .cambiodemando-header {
    background-color: #1b283d;
    padding: 20px 20px 50px 20px;
    margin-bottom: 0;
  }
  .cambiodemando-header h1 a,
  .cambiodemando-header h2 a,
  .cambiodemando-header h3 a,
  .cambiodemando-header h4 a,
  .cambiodemando-header h6 a,
  .cambiodemando-header h5 a {
    color: white !important;
  }
  .cambiodemando-header .border-bottom:after,
  .cambiodemando-header .border-right:before {
    background-color: white;
  }
  @media (max-width: 768px) {
    .cambiodemando-principal .bloque-inicial {
      display: block;
      max-width: 300px;
      text-align: center;
      margin: auto;
    }
  }
</style>
