<script>
  function insertStreaming(
    classSelector,
    iframeUrl,
    pixelhtml,
    logoUrl,
    logoBrand,
    presentedGoTo,
    streamClassName
  ) {
    var parentElement = document.getElementsByClassName(classSelector)[0]
    var streamingElement = document.createElement('div')
    streamingElement.className = streamClassName
    parentElement.insertBefore(
      streamingElement,
      parentElement.firstElementChild
    )
    streamingElement.innerHTML =
      '\
    <div class="ls-widget ajuste-1440-cards">\
      <div class="ls-sponsor">\
        <span class="presented-by">Presentado por: </span>\
          <div class="ls-goto">\
          <a class="ls-goto-btn" href="' +
      presentedGoTo +
      '" target="_blank">\
            <span>Ir a las ofertas </span>\
            <span class="white-blob blob"></span>\
          </a>\
        </div>\
      </div>\
      <div class="ls-streaming">\
        <iframe src="' +
      iframeUrl +
      '" frameborder="0" scrolling="no"></iframe>\
      </div>\
      ' +
      pixelhtml +
      '</div>'
  }

  var classSelector = 'insert-liveshopping-responsive'
  var iframeUrl =
    'https://on.mediastre.am/events/mediastream--eventos-us/liveshop-epico/live/?utm_source=iframe&utm_medium=LaCuarta_01Febrero&utm_campaign=Liveshopping'
  var pixelhtml =
    "<a href='https://pubads.g.doubleclick.net/gampad/jump?iu=/124506296/Publirreportajes/2023/febrero/Samsung_LC&sz=1x1&c=[TIMESTAMP]'><img src='https://pubads.g.doubleclick.net/gampad/ad?iu=/124506296/Publirreportajes/2023/febrero/Samsung_LC&sz=1x1&c=[TIMESTAMP]'/></a>"
  var logoUrl =
    'https://ads-lt.digitalproserver.com/ads/lab/samsung/logo-samsung-white.svg'
  var logoBrand = 'Samsung'
  var presentedGoTo =
    'https://www.latercera.com/liveshopping/?utm_source=La+Tercera&utm_medium=LaCuarta_01Febrero&utm_campaign=Liveshopping&utm_id=Liveshopping&utm_term=Liveshopping+&utm_content=Liveshopping'
  var streamClassName = 'streamingResponsive'

  setTimeout(function () {
    return insertStreaming(
      classSelector,
      iframeUrl,
      pixelhtml,
      logoUrl,
      logoBrand,
      presentedGoTo,
      streamClassName
    )
  }, 3000)
  document.querySelector('meta[http-equiv]').remove()
</script>
<style>
  .ls-widget {
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
  }

  .blob {
    border-radius: 50%;
    height: 9px;
    width: 9px;
    display: inline-block;
    transform: scale(1);
    animation: pulse 2s infinite;
  }

  .white-blob {
    background: rgb(255, 0, 0);
    box-shadow: 0 0 0 0 rgb(255, 0, 0);
    animation: pulse-white 2s infinite;
  }

  .ls-goto {
    font-family: franklin-gothic-urw, helvetica, arial, verdana, sans-serif;
    border-radius: 5px;
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 1.5;
    text-align: right;
    padding: 0;
    position: relative;
    grid-column: span 1 !important;
  }

  .ls-goto-btn {
    color: white;
    padding: 4px 9px;
    border: 1px solid white;
    border-radius: 6px;
  }

  .ls-close {
    height: 50px;
    width: 50px;
    background: url(https://ads-lt.digitalproserver.com/ads/cerrar.png);
    position: absolute;
    right: 0;
    margin-top: -20px;
  }

  .ls-sponsor {
    font-family: franklin-gothic-urw, helvetica, arial, verdana, sans-serif;
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 1fr 180px;
    align-items: center;
    text-align: left;
    padding: 10px;
  }

  .presented-by {
    font-family: franklin-gothic-urw, helvetica, arial, verdana, sans-serif;
    color: rgb(107 114 128 / 1);
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 400;
    padding-right: 10px;
  }

  .logostream {
    display: block;
    max-width: 100%;
  }

  .ls-streaming {
    width: 100%;
    height: 545px;
  }

  .ls-streaming iframe {
    width: 100%;
    height: 545px;
  }

  @media (max-width: 768px) {
    .ls-streaming {
      width: 100%;
      min-height: 670px;
    }
    .ls-streaming iframe {
      width: 100%;
      height: 650px;
    }
  }

  @keyframes pulse-white {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    }
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
  }
</style>
